/11 Composite/Composite/nbproject/private/
/11 Composite/Composite/build/
/11 Composite/Composite/dist/
/10 Template Method/templateMethod/nbproject/private/
/10 Template Method/template/nbproject/private/
/10 Template Method/template/dist/
/10 Template Method/template/build/
/10 Template Method/state/nbproject/private/